body {
    background-color: #dedede;
    margin: 0;
    font-family: Arial, sans-serif; /* Applied to body for consistency */
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

div {
    width: 100%;
    margin: 10px 0;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
}

.label {
    text-align: center;
    font-family: Arial, sans-serif; /* added font-family */
}

/* Tablet View (772px) */
@media (min-width: 772px) {
    div {
        width: 45%;
        display: inline-block;
        margin: 5px;
        vertical-align: top;
    }

    div img {
        max-height: 30vh;
    }

    div:nth-child(2n) {
        margin-right: 0;
    }
}

/* Large Screen View (998px) */
@media (min-width: 998px) {
    div {
        width: 30%;
        margin: 5px;
    }

    div:nth-child(3n) {
        margin-right: 0;
    }
}